.video.inv{
   top: 10%;
   margin-top: 5%;
   width: 95%;
   align-self: center;
   transform: rotateY(180deg);
 }

 .texto{
     width: 100%;
     text-align: center;
     font: bold 25px verdana;
 }

 .borda.sem{
    background-color: red;
    align-items: center;
 }

 .borda.com{
    background-color: green;
    align-items: center;
 }

 .borda{
   text-align: center;
   width: 1080px;
   height: 880px;
   justify-content: center;
   
   /* justify-content: center;
   align-items: center;
   align-content: center; */
 }
